*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: gray;
    padding:1%;
}

header{
    width: 100%;
    height: 50px;
    background: lightgrey;
    border-radius: 4px;
}

#bodyleft{
    width: 24%;
    height: 500px;
    background: lightgrey;
    margin: 10px 10px 10px 0px;
    border-radius: 4px;
    float: left;
}

#bodyleft > h3 {
    background:indigo;
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    border-bottom: 2px solid black;

}

#bodyleft > ul {
    list-style-type: none;
    margin-top: 10px;
    border-radius: 4px;
}

#bodyleft >ul >li{
    background: white;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
}

#bodyleft >ul >li :hover{
    background: blue;
 
}

#bodyleft >ul > li >a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    display: block;
}
#bodyright{
    width: 74.4%;
    height: 500px;
    background: lightgrey;
    margin: 10px 0px 0px 10px;
    border-radius: 4px;
    float: left;
    min-height: 700px;
    
}


#bodyright > h3 {
    background:indigo;
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 2%;
    border-bottom: 2px solid black;
    margin-top: 10px;
}

#bodyright form table {
    width: 95%;
   /* background: white;*/
    border-radius: 4px;
    padding-bottom:10px;
    margin: auto;
}

#bodyright form table tr th {
    color: white;
    text-align: left;
    background: indigo;
     height: 30px;
  /* padding-left: 2%;*/
    
}

#bodyright form table tr td {
    width: 50%;
    height: 30px;

}
#bodyright form table tr td a {
     text-decoration: none;
}
#bodyright form table tr td input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        padding-left: 10px;
        border:ridge;
        
}
#bodyright form table tr td select {
        width: 100%;
        height: 30px;
        border-radius: 4px;
        padding-left: 10px;
}
#bodyright form button {
      width: 200px;
      height: 30px;
     margin-top: 20px;
      background: white;
      border: 2px solid black;
      border-radius: 4px;

}
#bodyright form button:hover {
    background: grey;
}

#add_cat{
    padding-top:10px ;
}

.scroll{
    overflow-x: scroll;
}

.scroll form table tr th {
    text-align: center;
    padding-left: 10px;
    font-size: 15px;
    
}
.scroll form table tr td {
    height: 30px;
    min-width: 200px;
    padding-left: 5px;
    
}
.scroll form table tr td img {
    height: 40px;
    width: 40px;
    font-size: 5px;
    
}
